*{
    box-sizing: border-box;
    transition: 0.3s;
}
body{
    margin: 0;
    display: flex;
}
.left_area{
    width: 366px;
    height: 100vh;
    background-color: gray;
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.mb_btn{
    display: none;
}
.logo{
    width: 150px;
    height: 150px;
    background-image: url(../../素材/1599542001624拷貝.jpg);
    background-color: lawngreen;
    background-size: cover;
}
.nav_btn{
    display: flex;
    flex-direction: column;
}
.btn{
    color: white;
    font-size: 24px;
    line-height: 48px;
    margin-top: 40px;
}
a{
    text-decoration: none;
}
.right_area{
    flex-grow: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_area{
    width: 960px;
    height: 570px;
    display: flex;
}
.img{
    flex-grow: 1;
    height: 100%;
    display: flex;
    background-color: gold;
    background-size: cover;
    background-position: center;
}
.imgA{
    margin-right: 5px;
    background-image: url(../../素材/gundam\ OO\ ELS.jpg);
}
.imgB{
    margin-right: 5px;
    background-image: url(../../素材/gundam\ OO.jpg);
}
.imgC{
    background-image: url(../../素材/gundam\ OOR-01.jpg);
}
.mask{
    flex-grow: 1;
    background-color: black;
    transition: all 3s;
}
.img:hover{
    flex-grow: 3;
}
.mask:hover{
    flex-grow: 3;
    opacity: 0;
}
@media(max-width: 1324px){
    /* 筆電版 */
    .img_area{
        width: 768px;
        height: 570px;
        flex-flow:row wrap;
    }
    .img{
        height: 50%;
        background-position: unset;
        margin-right: 5px;
    }
    .imgA{
        flex-basis: 100%;
        margin-bottom: 5px;
    }
    .imgB{
        flex-basis: calc(50% - 5px);
    }
    .imgC{
        flex-basis: calc(50% - 5px);
        background-position: center;
    }  
}
@media(max-width: 1133px){
    /* 平板版 */
    body{
        flex-wrap: wrap;
    }
    .left_area{
        width: 100vw;
        height: 100px;
        padding: 0 20px;
        flex-direction: unset;
        justify-content: space-between;
    }
    .logo{
        width: 80px;
        height: 80px;
    }
    .nav_btn{
        font-size: 24px;
        flex-direction: row;
    }
    .btn{
        margin-top: 0;
        margin-right: 20px;
    }
    .right_area{
        height: calc(100vh - 100px);
    }
    .img_area{
        width: 100vw;
        height: 800px;
        padding: 45px 20px;
    }
}
@media(max-width: 540px){
    /* 手機版 */
    .left_area{
        width: 100%;
        height: 80px;
        padding: 15px 20px;
        justify-content: center;
        position: fixed;
        z-index: 999;
    }
    .mb_btn{
        display: block;
        width: 40px;
        height: 50px;
        background-color: white;
        position: absolute;
        left: 20px;
    }
    .btnM{
        display: none;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px yellowgreen;
        text-align: center;
    }
    a{
        padding: 12px 16px;
        color: black;
        display: block;
    }
    .btnM a:hover{
        background-color: teal;
    }
    .mb_btn:hover .btnM{
        color: indianred;
        background-color: honeydew;
        display: block;
    }
    .logo{
        width: 54px;
        height: 54px;
    }
    .nav_btn{
        display: none;
    }
    .right_area{
        height: auto;
    }
    .img_area{
        width: 100%;
        height: auto;
        padding: 0;
    }
    .img{
        flex-basis: 100%;
        height: 50vh;
        margin: 0;
    }
}